/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

/* Components */
@import "components/navbar.css";
@import "components/footer.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/theme-toggler.css";

/* Universal Styles for all pages */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: background 0.5s linear;
  /* transition: color 0.5s linear; */
  box-sizing: border-box;
  color: #333333;
}

main {
  width: 80%;
  margin: 0 auto;
}

header h1 {
  font-size: 4rem;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lightblue;
}

.social-links a {
  font-size: 3rem;
  margin: 0 20px;
}

.social-links a:hover {
  transform: scale(1.2);
}

#projects, #about, #contact {
  padding-top: 30px;
}

.projects-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem 1rem;
}


.profile-picture {
  width: 250px;
  border-radius: 50%;
  filter: grayscale(100%);
}

@media (min-width: 760px) {
  .social-links{
    position:fixed;
    top: 40%;
    left: 1%;
  }
  
  .social-links a {
    font-size: 1.3rem;
    display: block;
    margin: 0;
    margin: 10px 0;
  }
  
  header {
    padding-top: 15%;
  }

  #projects, #about, #contact {
    text-align: left;
    font-size: 3rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .about-container {
    height: calc(100vh - 150px);
  }
  
  #about-picture-description {
    display: flex;
    align-items: center;
  }
  
  #about-me {
    display: flex;
    justify-content: space-between;
  }

  #about-description, #skills-container {
    text-align: left;
    padding: 0px 44px;
  }
  
  #about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 18px;
  }

  #about-details p {
    margin: 5px 0;
  }

  #skills-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
  }

  .call-to-action {
    margin-top: 20px;
  }

  .contact-container {
    height: calc(100vh - 150px);
  }
}
