/* Universal Styles for all pages */

* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; } 

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: background 0.5s linear;
  /* transition: color 0.5s linear; */
  color: #333333;
}

main {
  width: 80%;
  margin: 0 auto;
}

header h1 {
  font-size: 4rem;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lightblue;
}

.social-links a {
  font-size: 3rem;
  margin: 0 20px;
}

.social-links a:hover {
  transform: scale(1.2);
}

.profile-picture {
  border-radius: 50%;
  filter: grayscale(100%);
}

.image {
  transition: all 1s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

#projects, #about, #contact {
  padding-top: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.more-projects {
  margin-top: 20px;
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 1rem;
}

.more-projects svg {
  height: 15px;
}

.filter {
  transform: scale(1.3);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.contact-actions {
  margin-top: 50px;
}

.skills-container p:hover {
  transform: scale(1.01);
}

/* MEDIA QUERIES */
/* Mobile only specific styles */
@media (max-width: 760px) {
  #about, #projects, #contact {
    margin-bottom: 25px;
  }

  #about-description {
    display: none;
  }
  
  #about-picture-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #about-picture-description :nth-child(1) { order: 2; }
  #about-picture-description :nth-child(2) { order: 1; }
  
  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #about-me :nth-child(1) { order: 2; }
  #about-me :nth-child(2) { order: 1; }
}

@media (min-width: 760px) {
  .projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
    /* width: 110%; */
  }

  #skills-container {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 10px;
    gap: 10%;
    font-size: 16px;
  }
  
  #skills-container p:hover {
    transform: scale(1.02);
  }

  .modal {
    padding: 4rem 6rem;
  }

  #thanks-container, #more-about {
    height: calc(100vh - 115px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .section { height: 100vh;}
  .section:first-child { height: calc(100vh - 75px); }
  .section:last-child { height: calc(100vh - 50px); }
  /* html, body {
    scroll-snap-type: y mandatory;
    scroll-padding: 20px;
  } */

  .social-links{
    position:fixed;
    top: 40%;
    left: 1%;
    z-index: 100;
  }

  /* #theme-toggler {
    position:fixed;
    bottom: 45%;
    right: 1%;
  } */
  
  .social-links a {
    font-size: 1.3rem;
    display: block;
    margin: 0;
    margin: 10px 0;
  }
  
  header {
    padding-top: 15%;
  }

  #projects, #about, #contact {
    text-align: left;
    font-size: 3rem;
    /* scroll-snap-align: start; */
  }

  #projects {
    margin-left: 10%;
  }

  .projects {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 97%;
    float: right;
  }

  .project-card img, .project-card video {
    width: 600px !important;
  }

  .more-projects {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  #about-picture-description {
    display: flex;
    align-items: center;
  }
  
  #about-me {
    display: flex;
    justify-content: space-between;
  }

  #about-description, #skills-container {
    text-align: left;
    padding: 0px 44px;
  }
  
  #about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 18px;
  }

  #about-details p {
    margin: 5px 0;
  }

  #skills-container {
    justify-content: flex-start;
  }

  .call-to-action {
    margin-top: 10px;
    align-self: stretch;
  }

  .contact-container {
    text-align: left;
    padding: 0 44px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    margin-top: 50px;
  }
}

/* .contact-actions {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
} */

/* @media (min-width: 1920px) {
  header, .projects-container, .about-container, .skills-container {
    height: auto;
  }
} */

/* .construction {
  position: absolute;
  background-color: lightblue;
  transform: rotate(30deg) scale(3.5);
  top: 50%;
  left: 40%;
  z-index: 100;
  color: white;
  padding: 2px 20px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
} */

canvas {
  /* z-index: -100; */
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* header {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
} */

#filter-languages {
  height: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* ABOUT PAGE */
.more-about {
  overflow: hidden;
}

.journey-step {
  border: 1px solid lightblue;
}
.platform-icon {
  width: 50px;
}
.circle {
  position: absolute;
  top: 7.5rem;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  border: 4px solid lightblue;
  border-radius: 50%;
  display: block;
}

.line {
  position: absolute;
  top: calc(-7.5rem + 24px);
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  display: block;
  background-color: lightblue;
  z-index: -100;
}


