/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

/* Components */
@import "components/navbar.css";
@import "components/footer.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/form.css";

/* Universal Styles for all pages */

* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; } 

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: background 0.5s linear;
  /* transition: color 0.5s linear; */
  color: #333333;
}

main {
  width: 80%;
  margin: 0 auto;
}

header {
  height: calc(100vh - 150px);
}

header h1 {
  font-size: 4rem;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lightblue;
}

.social-links a {
  font-size: 3rem;
  margin: 0 20px;
}

.social-links a:hover {
  transform: scale(1.2);
}

.profile-picture {
  width: 250px;
  border-radius: 50%;
  filter: grayscale(100%);
}

#projects, #about, #contact {
  padding-top: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem 1rem;
}

.contact-actions {
  margin-top: 50px;
}

.skills-container p:hover {
  transform: scale(1.01);
}

@media (max-width: 760px) {
  #about, #projects, #contact {
    margin-bottom: 25px;
  }

  #about-description {
    display: none;
  }
  
  #about-picture-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #about-picture-description :nth-child(1) { order: 2; }
  #about-picture-description :nth-child(2) { order: 1; }
  
  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #about-me :nth-child(1) { order: 2; }
  #about-me :nth-child(2) { order: 1; }

}

#skills-container {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 10px;
  gap: 10%;
}


@media (min-width: 760px) {
  #skills-container {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  /* html, body {
    scroll-snap-type: y mandatory;
    scroll-padding: 20px;
  } */

  .social-links{
    position:fixed;
    top: 40%;
    left: 1%;
  }
  
  .social-links a {
    font-size: 1.3rem;
    display: block;
    margin: 0;
    margin: 10px 0;
  }
  
  header {
    padding-top: 15%;
  }

  /* h1 {
    scroll-snap-align: center;
  } */

  #projects, #about, #contact {
    text-align: left;
    font-size: 3rem;
    /* scroll-snap-align: start; */
  }

  .projects-container {
    height: calc(100vh - 200px);
  }

  .projects {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .about-container {
    height: calc(100vh - 150px);
  }
  
  #about-picture-description {
    display: flex;
    align-items: center;
  }
  
  #about-me {
    display: flex;
    justify-content: space-between;
  }

  #about-description, #skills-container {
    text-align: left;
    padding: 0px 44px;
  }
  
  #about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 18px;
  }

  #about-details p {
    margin: 5px 0;
  }

  #skills-container {
    justify-content: flex-start;
  }

  .call-to-action {
    margin-top: 10px;
  }

  .contact-container {
    height: calc(100vh - 190px);
    text-align: left;
    padding: 0 44px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    margin-top: 40px;
  }
}

/* .contact-actions {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
} */

/* @media (min-width: 1920px) {
  header, .projects-container, .about-container, .skills-container {
    height: auto;
  }
} */

#thanks-container {
  height: calc(100vh - 115px);
  display: flex;
  align-items: center;
}

#skills-container p:hover {
  transform: scale(1.02);
}