<nav>
  <div id="navbar">
    <div class="logo">
      <a href=""><i class="fas fa-code"></i> <strong>HANNAH EICH</strong> </a>
    </div>
    <button class="hamburger">
      <i class="fas fa-bars"></i>
    </button>
    <!-- <div id="theme-toggler">
      <input type="checkbox" class="checkbox" id="chk" />
      <label class="label" for="chk">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
        <div class="ball"></div>
      </label>
    </div> -->
    <div id="navbar-links">
      <div class="navbar-link">
        <a href="#projects">Projects</a>
      </div>
      <div class="navbar-link">
        <a href="#about">About</a>
      </div>
      <div class="navbar-link">
        <a href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
