@-webkit-keyframes bounce { 0%, 100% { top: 0; } 30% { top: 10px; } 50% { top: 0px; } 80% { top: 10px; } }
@-moz-keyframes bounce { 0%, 100% { top: 0; } 30% { top: 10px; } 50% { top: 0px; } 80% { top: 10px; } }
@keyframes bounce { 0%, 100% { top: 0; } 30% { top: 10px; } 50% { top: 0px; } 80% { top: 10px; } }

#bouncing-button { 
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}

#bouncing-button {
  -webkit-animation: bounce 2s infinite ease-in-out; 
  -moz-animation: bounce 2s infinite ease-in-out;
  border: none;
  background-color: inherit;
  font-size: 3em;
}

#bouncing-button:hover {
  color: lightblue;
  transition: 0.5s;
}

#about-details a {
  border: 1px solid lightblue;
  color: lightblue;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 15px;
  width: 120px;
  display: block;
  margin: 10px 0;
}

#about-details a:hover {
  border: 1px solid goldenrod;
  transition: ease-in;
}

.contact-links {
  border: 1px solid lightblue;
  color: lightblue;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 10px 0;
}

.contact-links:hover {
  background-color: lightblue;
  color: white;
  transition: 0.5s;
}

.bigger-icon {
  font-size: 1.5rem;
}



