.project-card {
  padding: 10px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
  transition: 0.5s;
  text-align: left;
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card h4 {
  margin-bottom: 0;
}

.project-card img {
  width: 100%;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.project-card-links a {
  margin-left: 10px;
}
