.project-card {
  padding: 10px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
}

.project-card img {
  width: 100%;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 720px) {

}

@media (min-width: 1200px) {

}
