.project-card {
  padding: 10px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
  transition: 0.5s;
  text-align: left;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #333333;
  margin: 20px;
}

/* #localshopper, #camperworld {
  flex: 1;
} */

.project-card:hover {
  transform: scale(1.01);
}

.project-card h4, .project-card p {
  margin: 0;
}

.project-card img, .project-card video {
  width: 600px;
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
}

.project-card-links a {
  margin-left: 10px;
}

.project-card-links i {
  font-size: 20px;
}

