form, input, textarea {
  width: 100%;
}

input, textarea {
  border: 3px solid lightblue;
  line-height: 30px;
}

input {
  margin-bottom: 15px;
}

input::placeholder, textarea::placeholder {
  padding-left: 10px;
}

input:focus-visible {
  border: 3px solid red;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.form-details {
  display: flex;
  gap: 20px;
}
