#navbar {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  flex-wrap: wrap;
}

#navbar-links {
  display: none;
  width: 100%;
  flex-direction: column;
  z-index: 100;
}

#navbar-links.show {
  display: flex;
  padding: 20px 0;
}

.navbar-link {
  margin: 5px 0;
}

.hamburger {
  color: #333333;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

@media (min-width: 760px) {
  #navbar {
    padding: 20px 20px;
  }
  
  #navbar-links {
    display: flex;
    flex-direction: row;
    width: auto;
  }
  
  #navbar-links a {
    margin: 0px 20px;
  }

  .hamburger {
    display: none;
  }
}